<?xml version="1.0"?>
<launch>
  <arg name="run_gazebo"  default="true"/>
  <arg name="world_file_name"   default="playpen" />
  <arg name="world_path"        default="$(find mipp_gazebo)/worlds/$(arg world_file_name).world" />
  <arg name="gui"         default="true"/>
  <arg name="run_rviz"    default="true"/>
  <arg name="run_husky"   default="true"/>
  <arg name="run_husky_explore" default="true"/>
  <arg name="run_uav0"    default="false"/>
  <arg name="run_uav1"    default="false"/>
  <arg name="octomap_cloud_topic"    default="/octomap/points"/>

  <node pkg="tf" type="static_transform_publisher" name="tf_world_odom_link" args="0 0 0 0 0 0  /world /odom  100"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_world_map_link" args="0 0 0 0 0 0  /world /map  100"/>
  <!---<node pkg="tf" type="static_transform_publisher" name="tf_base_frd_link" args="0 0 0 0 0 0  /base_link_uav0 /base_link_frd  100"/>-->

  <!---
    Run OctoMap
  -->
  <include file="$(find mipp_launch)/launch/octomap_mapping.launch">
    <arg name="resolution"                      value="0.1"/>
    <arg name="frame_id"                        value="world"/>
		<arg name="base_frame_id"                   value="base_footprint"/>
		<arg name="sensor_model/max_range"          value="10.0"/>
  	<arg name="latch"                           value="false"/>
		<arg name="filter_ground"                   value="false"/>
		<arg name="pointcloud_min_z"                value="0.25"/>
		<arg name="pointcloud_max_z"                value="5.0"/>
	  <remap from="cloud_in"          to="$(arg octomap_cloud_topic)" />
  </include>

  <!--- 
    Spawn first uav
  -->
  <include file="$(find mipp_launch)/launch/uav.launch" if="$(arg run_uav0)">
    <arg name="uav_id"        value="0"/>
    <arg name="initial_x"     value="-3"/>
    <arg name="initial_y"     value="0"/>
    <arg name="octomap_cloud_topic"    value="$(arg octomap_cloud_topic)"/>
  </include>

  <!--- 
    Spawn second uav
  -->
  <include file="$(find mipp_launch)/launch/uav.launch" if="$(arg run_uav1)">
    <arg name="uav_id"        value="1"/>
    <arg name="initial_x"     value="0"/>
    <arg name="initial_y"     value="3"/>
    <arg name="octomap_cloud_topic"    value="$(arg octomap_cloud_topic)"/>
  -->
  </include>

  <!-- Load custom console configuration -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mipp_launch)/resource/custom_rosconsole.conf"/>

  <!-- Launch rqt_reconfigure -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

  <!--- 
    Run Gazebo 
  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg run_gazebo)">
      <arg name="gui" value="$(arg gui)"/>
      <arg name="world_name" value="$(arg world_path)" />
  </include>

  <!--- 
    Run Rviz 
  -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mipp_viz)/rviz/mipp_1ugv_2uav.rviz"  if="$(arg run_rviz)"/>

  <!--- 
    Spawn single husky
  -->
  <group if="$(arg run_husky)">
    <include file="$(find mipp_launch)/launch/husky.launch"/>
    <include file="$(find explore_lite)/launch/explore.launch" if="$(arg run_husky_explore)"/>
  </group>

</launch>
