<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
    <!-- Ground Truth Position -->
    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>gazebo/ground_truth_ugv</topicName>
            <gaussianNoise>0.01</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>
    
    <!-- Velodyne 3D Lidar (mounted on sensor arch)-->
    <xacro:sensor_arch prefix="" parent="top_plate_link">
        <origin xyz="0 0 0.51" rpy="0 0 0"/>
    </xacro:sensor_arch>
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <VLP-16 parent="sensor_arch_mount_link" name="velodyne" topic="gazebo/velodyne_points" hz="5" samples="440">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </VLP-16>
</robot>