<?xml version="1.0"?>
<launch>
  <!-- Resolution in meter for the map when starting with an empty map.
        Otherwise the loaded file's resolution is used.
  <arg name="uav_id"          default="0"/>
  <arg name="uav_name"        default="uav$(arg uav_id)"/>
  <arg name="uav_takeoff_z"   default="2.0"/> -->

  <node pkg="mipp_packages" type="rrt_planner_node" name="rrt_planner_node" output="screen">
    <!-- Parameters -->
    <param name="root_x"            value="0.0"/>
    <param name="root_y"            value="0.0"/>
    <param name="root_z"            value="0.0"/>
    <param name="x_range_min"       value="-3.0"/>
    <param name="x_range_max"       value="3.0"/>
    <param name="y_range_min"       value="-3.0"/>
    <param name="y_range_max"       value="3.0"/>
    <param name="z_range_min"       value="0.0"/>
    <param name="z_range_max"       value="0.5"/>

    <!-- Remap topics -->
    <!-- Published topics -->
    <remap from="rrt_planner/random_point" to="rrt_planner/random_point"/>
  </node>
</launch>

