<?xml version="1.0"?>
<launch>
  <arg name="robot_namespace"         default="/"/>
  <arg name="robot_start_x"           default="0.0"/>
  <arg name="robot_start_y"           default="0.0"/>
  
  <group ns="$(arg robot_namespace)">
    <node pkg="mipp_packages" type="ugv_frontier_explorer_node" name="ugv_frontier_explorer_node" output="screen">
      <!-- Parameters -->
      <param name="planner_world_frame"       value="map"/>
      <param name="x_range_min"               value="$(eval arg('robot_start_x')-10.0)"/>
      <param name="x_range_max"               value="$(eval arg('robot_start_x')+10.0)"/>
      <param name="y_range_min"               value="$(eval arg('robot_start_y')-10.0)"/>
      <param name="y_range_max"               value="$(eval arg('robot_start_y')+10.0)"/>
      <param name="planner_rate"              value="200.0"/>
      <param name="planner_max_time"          value="30.0"/> 
      <param name="planner_max_ray_distance"          value="0.5"/>

      <!-- Remap topics -->
      <!-- Published topics -->
      <!-- <remap from="rrt_planner/random_point" to="rrt_planner/random_point"/>-->
    </node>
  </group>

</launch>

